<!-- base.html -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

    {% tailwind_css %}
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 mt-2 ">
   {% comment %} {% block overlay%}{% endblock overlay%} {% endcomment %}
   <div class=" min-h-96 w-full bg-cyan-400 absolute -z-10 top-0 "></div>

   {% if messages %}
    <div class=" absolute top-5 right-2 bg-white rounded p-4 max-w-[7rem]">
    {% for message in messages %}
    <span class=" text-xl text-gray-700 font-weight-bolder" >{{ message }}</span>
    {% endfor %}
    </div>
   {%endif%}

    <!-- Sidebar -->
    <div class=" flex justify-between  top-6 left-6 fixed z-50">
      <button id="sidebar-btn">
         <i class="fas fa-bars    "></i>
       </button>
    </div>
    
    <div class=" flex justify-between">
      <aside id="default-sidebar" class="fixed top-2 left-2 rounded-md z-40 w-64 h-screen transition-transform " aria-label="Sidebar">
         <div class="h-full px-3 py-4 overflow-y-auto rounded-lg bg-white">
            <div class="w-full flex items-center justify-center mb-2 mr-2">
               <span class=" text-center font-sans font-semibold text-cyan-600">የሚከራይ ቤት አለ</span>
            </div>
            <ul class="space-y-2 font-medium">
               <li>
                  <a href="{% url 'admin-dashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-tachometer" aria-hidden="true"></i>
                     <span class="ms-3">Dashboard</span>
                  </a>
               </li>
               <!-- <li>
                  <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75  group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                     </svg>
                     <span class="flex-1 ms-3 whitespace-nowrap">Kanban</span>
                     <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
                  </a>
               </li> -->
               <li>
                  <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-inbox" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Inbox</span>
                     <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'admin-listings' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-house" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Listings</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'admin-users' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-users" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                  </a>
               </li>
               <li>
                  <a href="{% url  'admin-ads' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-window-restore" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Ads</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'admin-cities' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-university" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Cities</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'admin-subcities' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-university" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">SubCities</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'admin-comments' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-comment" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">User Comments</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <i class="fa fa-sign-out" aria-hidden="true"></i>
                     <span class="flex-1 ms-3 whitespace-nowrap">Sign Out</span>
                  </a>
               </li>
               <!-- <li>
                  <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100  group">
                     <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75  group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                        <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                        <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                     </svg>
                     <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
                  </a>
               </li> -->
            </ul>
         </div>
      </aside>

       <!-- Main content -->
      <div class=" z-30 w-full">
        <div class=" text-center">
           <span class=" font-semibold text-gray-700">
              Dashboard
              <span class=" font-thin ">{%block page_title %}  {%endblock page_title %}</span>
           </span>
         </div>
          {% block content %}
          {% endblock %}
      </div> 
    </div>


</body>
</html>

<script>
// Get the button and the sidebar elements
const sidebar = document.getElementById('default-sidebar');
const sidebarBtn = document.getElementById('sidebar-btn');

// Add an event listener to the button
sidebarBtn.addEventListener('click', () => {
    // Toggle the translate-x-full class on the sidebar
    sidebar.classList.toggle('hidden');
    
});
</script>
