{% extends "../layout.html" %}

 {% block page_title %}/ Home {% endblock page_title %}

 {% block overlay %}
  <div class=" min-h-96 w-full bg-cyan-100 absolute -z-10 top-0 "></div>
{% endblock overlay %}

{% block content %}

<div class=" flex justify-between">

    <div class=" z-50 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                         Name
                    </th>
                    {% comment %} <th scope="col" class="px-6 py-3">
                        Action
                    </th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for subc in subcities %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{subc.name}}
                    </th>
                    {% comment %} <td class="px-6 py-4">
                    {% if subc.status %}
                        <a href="{% url 'admin-subcs-status' id=subc.id %}" class="font-medium bg-red-200 p-1 focus:ring-2 focus:ring-red-400 px-2 rounded  text-red-600 dark:text-red-600 ">Remove</a>
                    {% else %}
                        <a href="{% url 'admin-subcs-status' id=subc.id %}" class="font-medium p-1 focus:ring-2 bg-green-200 focus:ring-green-400 px-2 rounded text-green-600 dark:text-green-500">Restore</a>
                    {% endif %}
                    </td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<!-- create form -->
<form method="post" class=" flex flex-col gap-2" action="{% url 'admin-add-subcity' %}"> 
  {% csrf_token %}
  <h4>Add Sub-city</h4>
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Name</label>
  <input name="name" class="block w-full text-sm p-2 text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="ad-helper" type="text">
  <div class=" text-sm text-gray-500 dark:text-gray-300" id="ad-helper">Name of the subcity</div>
  <button class=" p-2 bg-cyan-600 focus:ring-2 focus:ring-cyan-200 rounded hover:bg-cyan-500">Save</button>
</form>
</div>

{% endblock content %}